# ---------------------------------------------
# 1. 가장 중요한 데이터 폴더
# ---------------------------------------------
Data/
data/

# ---------------------------------------------
# 2. 동영상 및 압축 파일 
# ---------------------------------------------
*.mp4
*.avi
*.mkv
*.mov
*.zip
*.tar
*.gz
*.rar

# ---------------------------------------------
# 3. 전처리된 이미지 파일들
# ---------------------------------------------
*.jpg
*.jpeg
*.png
*.npy

# ---------------------------------------------
# 4. 파이썬 & AI 모델 관련 파일
# ---------------------------------------------
# 파이썬 실행 시 생기는 임시 폴더
__pycache__/
*.pyc

# ---------------------------------------------
# 5. 학습 결과 생성된 기록 파일
# ---------------------------------------------


# AI 모델 가중치 파일 (대용량)
*.pth
*.pt
*.pkl
*.ckpt
*.weights

# ---------------------------------------------
# 5. 시스템 및 에디터 설정 파일 
# ---------------------------------------------
.DS_Store
.vscode/
.idea/
*.log